@page "/addMovie"
@inject IMovieService movieService
@inject IDirectorService directorService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h3>Add Movie</h3>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Title">Title</label>
                <input form="Title" class="form-control"
                       @bind-value="@movie.Title" />
                <br />
                <label for="YearOfProduction">Year of production</label>
                <input form="YearOfProduction" class="form-control"
                       @bind-value="@movie.YearOfProduction" />
                <br />
                <label for="OriginalSoundtrack">Original soundtrack</label>
                <br />
                <select form="OriginalSoundtrack" @bind="movie.OriginalSoundtrack" style="width:200px">
                    @foreach (var language in Enum.GetValues(typeof(Soundtrack)))
                    {
                        <option value="@language">@language</option>
                    }
                </select>
                <br />
                <br />
                <label for="Genre">Genre</label>
                <br />
                <select form="Genre" @bind="movie.Genre" style="width:200px">
                    @foreach (var gender in Enum.GetValues(typeof(Genre)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <br />
                <br />
                <label for="DirectorID">Director</label>
                <br />
                <select form="DirectorID" @bind="movie.DirectorID" style="width:200px">
                    @foreach (var director in directors)
                    {
                        <option value="@director.ID">@director.Firstname  @director.Surname</option>
                    }
                </select>
                <br />
                <label for="Description">Description</label>
                <textarea form="Description" class="form-control"
                          @bind="@movie.Description"></textarea>
                <br />
                <label for="OtherTitles">Other titles</label>
                <input form="OtherTitles" class="form-control"
                       @bind-value="@movie.OtherTitles" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateMovie()">Save</button>
                <button type="button" class="btn btn-warning" @onclick="() => Cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>



@code {
    Movie movie = new Movie();
    List<Director> directors = new List<Director>();

    protected override async Task OnInitializedAsync()
    {
        directors = await directorService.FetchAll();
    }

    protected async Task CreateMovie()
    {
        await movieService.Create(movie);
        navigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("/");
    }
}
