@page "/editMovie/{Id:guid}"
@inject IMovieService movieService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<h3>Edit Movie</h3>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Title">Title</label>
                <input form="Title" class="form-control" @bind-value="@movie.Title" />
                <br />
                <label for="YearOfProduction">Year of production</label>
                <input form="YearOfProduction" class="form-control" @bind-value="@movie.YearOfProduction" />
                <br />
                <label for="OriginalSoundtrack">Original soundtrack</label>
                <br />
                <select form="OriginalSoundtrack" @bind="movie.OriginalSoundtrack" style="width:200px">
                    @foreach (var language in Enum.GetValues(typeof(Soundtrack)))
                    {
                        <option value="@language">@language</option>
                    }
                </select>
                <br />
                <br />
                <label for="Genre">Genre</label>
                <br />
                <select form="Genre" @bind="@movie.Genre" style="width:200px">
                    @foreach (var gender in Enum.GetValues(typeof(Genre)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </select>
                <br />
                <br />
                <label for="DirectorID">Director</label>
                <input form="DirectorID" class="form-control" @bind-value="@movie.DirectorID" />
                <br />
                <label for="Description">Description</label>
                <input form="Description" class="form-control" @bind-value="@movie.Description" />
                <br />
                <label for="OtherTitles">Other titles</label>
                <input form="OtherTitles" class="form-control" @bind-value="@movie.OtherTitles" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => UpdateMovie()">Save</button>
                <button type="button" class="btn btn-warning" @onclick="() => Cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>



@code {

    [Parameter]
    public Guid Id { get; set; }
    Movie movie = new Movie();

    protected override async Task OnInitializedAsync()
    {
        movie = await movieService.GetById(Id);
    }

    protected async Task UpdateMovie()
    {
        await movieService.Update(movie);
        navigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("/");
    }
}
